*{
    color: #1A4870;
}
.my_main_wrap{
    min-height: 100vh;
    height: 100vh;
}
.my_main_inside, .my_login_wrap, .my_login_inside, .my_login_left_wrap,.my_login_left__inside, .my_login_right__inside {
    height: 100%;
    min-height: 100%;
}
.my_login_inside{
    grid-template-columns: repeat(2, 50%);
    
}
.my_login_wrap{
    padding: 2rem 4rem;

    background: linear-gradient(135deg, #F9DBBA 21px, #5B99C2 22px, #d9ecff 24px, transparent 24px, transparent 67px, #5B99C2 67px, #5B99C2 69px, transparent 69px), linear-gradient(225deg, #F9DBBA 21px, #5B99C2 22px, #d9ecff 24px, transparent 24px, transparent 67px, #5B99C2 67px, #5B99C2 69px, transparent 69px) 0 64px;
    background-color: #F9DBBA;
    background-size: 64px 128px;
}

.my_login_left_wrap{
    background: transparent;
    border: 1rem solid #fff;
}
.my_login_right_wrap{
    background: #fff;
    border: 1rem solid #fff;
}
.my_login_left_top_text_unit_1 p{
    padding: 1.2rem 1rem;
    font-size: 1rem;
    color: #1A4870;
    font-weight: bold;
}
.my_login_left_bottom_text{
    width: 65%;
    padding: 1.2rem 1rem;
}
.my_login_left_bottom_text_unit{
    font-size: 3rem;
    color: #1A4870;
}
.my_login_left_top_text_unit_2{
    background-color: #fff;
    width: 5rem;
    height:0.2rem;
}
.my_login_left_footer p{
    font-size: 0.8rem;
    color: #1A4870;
}

/* Right part starts */

.my_login_right_welcome{
    font-size: 2rem;
}
.my_login_right_login_text{
    font-size: 0.8rem;
}
.my_login_right_email_text,.my_login_right_password_text{
    position: relative;
}
.my_login_right_email_text input[type="email"],.my_login_right_password_text input[type="password"]{
    background: #ddd;
    width: 100%;
    height: 2.7rem;
    padding-left: 2.5rem;
    border: none;
    outline: none;
}
.my_login_right_email_icon, .my_login_right_password_icon, .my_login_right_show_hide_icon{
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 50%;
    transform: translateY(-50%);
}
.my_login_right_email_icon{
    left: 0;
    padding: 0.2rem;
    margin-left: 0.2rem;
}
.my_login_right_password_icon{
    left: 0;
    padding: 0.3rem;
    margin-left: 0.2rem;
}
.my_login_right_show_hide_icon{
    right: 0;
    padding: 0.3rem;
    margin-right: 0.2rem;
}
.my_login_right_email_icon img, .my_login_right_password_icon img, .my_login_right_show_hide_icon img{
    width: 100%;
    height: 100%;
}
.my_login_right_remember_me{
    display: flex;
    gap: 0.3rem;
}
.sign_in_button a{
    padding: 0.4rem;
    background: #1A4870;
    color: #fff;
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
}
.google_sign_in_button a{
    padding: 0.4rem;
    background: #eee;
    color: #1A4870;
    display: inline-block;
    width: 100%;
    margin-top: 1rem;
    text-align: center;
}
.login_separator{
    position: relative;
}
.login_separator span{
    position: absolute;
    top: -11px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
}
.my_login_right_top_text{
    padding: 1.2rem 1rem;
    font-weight: bold;
}
.my_login_right_mid_inside{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 30vw;
}
.my_login_right_remember_me input[type="checkbox"], .my_login_right_remember_me label, .my_login_right_remember_forgot label{
    cursor: pointer;
}
.my_login_right_bottom_text_unit span{
    font-style: italic;
    font-size: 0.8rem;
    text-decoration: underline;
    cursor: pointer;
    color: #1F316F;
    font-weight: bold;
}

/* responsive STARTS */

@media only screen and (max-width:767px){
    .my_login_inside {
        grid-template-columns: 1fr;
    }
    .my_login_left_wrap{
        display: none;
    }
    .my_login_wrap {
        padding: 1rem;
    }
    .my_login_right_mid_inside{
        width: 100%;
    }
}